
.button {
    width: 150px;
    text-align: center;
    padding: 10px;
    position: absolute;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    background: red;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.button.small {
    border: 1px solid black;
    width: 7px;
    height: 7px;
    text-align: center;
    padding: 10px;
}

.button.transparent {
    border-color: transparent;
}

.button i {
    float: left;
}

.button p {
    margin: 0;
    line-height: 24px;
}