
.grid .product {
    padding: 2%;
}

.grid .grid-row {
    padding-top: 5%;    
}

.grid .grid-row:first-child {
    padding-top: 0;
}

.face {
    /* height: 100px; */
    line-height: 100px;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: rgba(200,200,200,0.1)
}

.price {
    float:right;
    font-size: 1.5em;
}

.info {
    padding-top: 5%;
}

.info p {
    margin: 0;
    font-weight: bold;
}

.info p .date {
    font-size: 0.8em;
    font-weight: normal;
}