
.grid .product {
    padding: 2%;
}

.face {
    /* height: 100px; */
    line-height: 100px;
    display: inline-block;
}

.price {
    float:right;
    font-size: 1.5em;
}

.info p {
    margin: 0;
    font-weight: bold;
}

.info p .date {
    font-size: 0.9em;
    font-weight: normal;
}